<% content_for :header_controls do %>
  <%= link_to teams_path, params.merge(grade: @grade) do %>
    <%# <span class="glyphicon glyphicon-chevron-left"></span> %>
    <i class="fa fa-angle-left"></i>
  <% end %>
<% end %>
