<div class="row">
  <div class="col-xs-12">
    <%- %w(a b c d e f).each do |grade| %>
      <%= render_grade_link(grade) %>
    <%- end %>
  </div>
</div>
<div class="row">
  </br>
  <div class="col-xs-12">
    <%- if @grade.present? %>
      <%= link_to 'Edit', edit_teams_list_path(@grade) %> |
    <%- end %>
    <%- if current_admin.blank? %>
      <%= link_to 'Login', new_admin_session_path %>
    <%- else %>
      <%= link_to 'Logout', destroy_admin_session_path, method: 'DELETE' %>
    <%- end %>
  </div>
</div>
