/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-family-sans-serif: 'Open Sans', Helvetica, arial;
body { padding-top: 50px; }

.mini-explanatory {
  font-size: 10px;
  color: #777;
}

@import "bootstrap";

$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #dee2e4;
$colHighlight   : #f7faff;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}

.brand {
  padding: 15px 15px;
  text-align: center;
  margin: auto;
  a:hover { text-decoration: none; }
  a { color: white; }
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  width: 200px;
}

.header-brand {
  margin: -6.5px 0px;
}
.header-controls {
  &:after { clear: none; }
}
