/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-family-sans-serif: 'Open Sans', Helvetica, arial;
@import "bootstrap";

body { padding-top: 50px; }

.mini-explanatory {
  font-size: 10px;
  color: #777;
}

.brand {
  padding: 15px 15px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  width: 200px;

  a { 
    color: white; 
    &:hover { text-decoration: none; }
  }
}

@media (min-width: 767px) {
  .navbar-header {
    float: none;
  }

  .brand {
    margin-left: -11%;
    width: auto;
  }

  #top-navbar-content {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.header-brand {
  margin: -6.5px 0px;
}

.header-controls {
  &:hover {
    .glyphicon { color: #e7e7e7; }
  }
  &:after { clear: none; }
  a { 
    position: absolute;
    color: white; 
    top: 0px;
    left: 0px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 15px 15px;
  }
}
